
*{
    padding: 0;
    margin: 0;
    font-family: 'Mona Sans', sans-serif;
}

body{
    background-image: url('../imgs/pexels-anni-roenkae-2156881.jpg');
}

.header {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    height: 100px;
    background-color: transparent;
    padding: 0 20px; /* Añade espacio alrededor del contenido */
}

.header .menu ul {
    list-style: none;
}

.header .menu li {
    display: inline-block;
}

.header .menu a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px; /* Añade espacio entre los elementos */
}

.header .menu input[type="search"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
}

.header .menu h3,
.header .menu h4 {
    color: aliceblue;
    margin-right: 20px;
}

.header .menu .logo {
    position: relative;
    max-width: 50px;
    margin-right: 20px;
    top: 15px;
    cursor: pointer;
}



.nav{
    background-color: #070707;
    max-width: 15%;
    height: 100vh;
}


.nav ul{
    position: relative;
    top: 100px;
}


.nav li{
    margin-bottom: 30px;
}


.nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

/* Estilos generales para el input de búsqueda */
.menu input[type="search"] {
    width: 250px;
    border: 1px solid #ccc; /* Añade un borde */
    border-radius: 5px; /* Redondea los bordes */
    font-size: 14px; /* Tamaño de la fuente */
}

/* Estilos cuando el input de búsqueda tiene foco */
.menu input[type="search"]:focus {
    outline: none; /* Quita el contorno predeterminado */
    border-color: #2481FF; /* Cambia el color del borde al enfocar */
}

/* Estilos para el botón de búsqueda dentro del input (solo en algunos navegadores) */
.menu input[type="search"]::-webkit-search-decoration {
    display: none; /* Oculta el botón de búsqueda en Chrome/Safari */
}


.container {
    max-width: 800px;
    margin: 92px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 250, 250);
}

.container h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.container p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container h4 {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.container ul{
    margin-bottom: 40px;
}

.container ul li{
    margin-left: 40px;
    margin-bottom: 10px;
}
