*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #fff;
}



/* Navgacion */
.nav-container {
    height: 120px;  /* porque esto no sruge efecto??????? */
    background-color: #f6d365; /* Cambia el fondo */
    display: flex; /* Cambia a un diseño de flexbox para centrar el texto verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}


.nav-menu ul{
    margin-left: 250px;
}

.nav-menu a {
    bottom: 30px;
    margin-left: 40px;
    transition: color 0.3s, background-color 0.3s; /* Aplica transición a color y fondo */

    color: #767676;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

/* Efecto hover en los enlaces */
.nav-menu a:hover {
    color: #fff; /* Cambia el color del texto */
    /* box-shadow: f6d365; Cambia el fondo */
}


.nav-menu #app-title{
    position: relative;
    left: -120px;  /*Porque esto no funciona?<----*/
    top: 0px;
    font-weight: 800;
    font-size: 30px;
}

.nav-menu li{
    display: inline;
}

.logo{
    position: absolute;
    width: 24%;
    top: 8px;
    left: 50px;
}












.nav-menu ul {
    list-style: none; /* Elimina los puntos de la lista */
}

.nav-menu li {
    margin-right: 20px; /* Espaciado entre elementos */
}


/* Responsive html */
@media(min-width:768px){
    .nav-menu{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
}