*{
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

p{
    font-size: 14px;
}

.menu{
    font-size: 20px;
    background-color: #111111;
    color:aliceblue;
    height: 50px;
    text-align: right;
}


.menu ul li{
    display: inline-block;
    padding: 16px;

}

.menu a{
    text-decoration: none;
    color: aliceblue;
}