body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    text-align: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    padding: 10px 0; /* Añadimos relleno superior e inferior */
}

.nav ul {
    list-style-type: none; /* Eliminamos los puntos de la lista */
    padding: 0; /* Eliminamos el relleno de la lista */
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;

}

.nav ul li a {
    color: #F4F3F4;
    text-decoration: none;
    transition: all 0.3s; /* Agregamos una transición suave */
    font-family: "Anton", sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-weight: 100;
    letter-spacing: 1.2px;

}

.nav ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px rgb(255, 38, 0), 0 0 70px rgb(255, 8, 0), 0 0 80px rgb(255, 0, 0);
}
.contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.preguntas {
    list-style-type: none;
    padding: 0;
}

.pregunta {
    font-weight: bold;
    margin-top: 20px;
}

.respuesta {
    margin-bottom: 40px;
}

button {
    background-color: #2481FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #1f6de8;
}