body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #212121 50%, #4a4a4a 100%);
    color: white;

}



#txtNum{
    position: relative;
    display: block;
}


#btn{
    position: relative;
    top: 50px;
    display: block;
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #bababa 50%, #dfdfdf 100%);
    font-size: 40px;
    border-radius: 2%;
    text-transform: uppercase;
}


#lbl{
    position: relative;
    display: block;
}



