/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
}

/* Estilos personalizados */


body {
    background: rgb(33, 11, 50);
    background: linear-gradient(180deg, rgb(0, 0, 0) 5%, rgb(28, 17, 46) 34%, rgb(63, 46, 107) 87%, rgb(89, 52, 182) 100%);
    color: #F4F3F4;
    font-family: 'Mona Sans', sans-serif; /* Cambiamos la fuente a Mona Sans */
}

.nav {
    text-align: center;
    background-color: #010101;
    padding: 10px 0; /* Añadimos relleno superior e inferior */
}

.nav ul {
    list-style-type: none; /* Eliminamos los puntos de la lista */
    padding: 0; /* Eliminamos el relleno de la lista */
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;

}

.nav ul li a {
    color: #F4F3F4;
    text-decoration: none;
    transition: all 0.3s; /* Agregamos una transición suave */
    font-family: "Anton", sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-weight: 100;
    letter-spacing: 1.2px;

}

.nav ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px rgb(255, 38, 0), 0 0 70px rgb(255, 8, 0), 0 0 80px rgb(255, 0, 0);
}

.contenedor {
    max-width: 800px; /* Limitamos el ancho del contenido */
    margin: 0 auto; /* Centramos el contenido horizontalmente */
    padding: 20px; /* Añadimos un poco de relleno alrededor del contenido */
    margin-top: 120px;
}

.preguntas {
    margin-bottom: 20px; /* Añadimos un margen inferior a las preguntas */
    padding-bottom: 20px; /* Añadimos un relleno inferior a las preguntas */
    border-bottom: 1px solid #ddd; /* Agregamos una línea divisoria debajo de las preguntas */
}

.pregunta {
    font-weight: bold; /* Hacemos las preguntas en negrita */
    margin-bottom: 10px; /* Añadimos un margen inferior a las preguntas */
}

.respuesta {
    margin-left: 20px; /* Añadimos un margen a la izquierda de las respuestas */
    font-size: 16px; /* Reducimos el tamaño de fuente de las respuestas */
}

.subPreguntas {
    margin-left: 100px;
}

.subPreguntas .respuesta {
    margin-bottom: 20px; /* Añadimos un margen inferior a las preguntas */
    padding-bottom: 20px; /* Añadimos un relleno inferior a las preguntas */
    border-bottom: 1px solid #ddd; /* Agregamos una línea divisoria debajo de las preguntas */
}


